// Global

// Bootstrap (140 KB) 確認每個頁面載一次就好
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "modules/bootstrap_colors";
@import "~bootstrap/scss/bootstrap";

// Modules (不使用就不佔空間) (變數, Mixins)
@import "modules/variables";
@import "modules/mixins";
@import "modules/fonts";

// Partials
@import "partials/body";
@import "partials/wordpress";
@import "partials/utils";
@import "partials/wrapper";
@import "partials/header";
@import "partials/nav";
@import "partials/sidebar";
@import "partials/footer";
@import "partials/print";

@media print{
    header nav, footer {
        display: none;
        }
    .sticky-icon-box, .comment-box{
        display: none;
    }
    .hide-on-print{
        display: none;
    }
    a[href]:after {
        content: none !important;
      }
}