/**
 * partials/main
 * ---
 * Main
 */
  
// For fixed-top navbar
body{
	color: #555555;
}
h1, h2, h3{
	margin: 30px 0 20px;
}
a:hover{
	text-decoration: none;
}
header.main-header{
	height: 56px;
}
main{
	margin-top: 20px;
	article.post{
		img{
			margin:20px 0;
		}
	}
}

/* Comments */

.media-list{
	list-style-type: none;
    padding-left: 0;
}
ul.children{
	list-style-type: none;
}
.comment-body{
    border: 1px solid #ccc;
	margin: 15px;
	.comment-content-wrap{
		padding: 15px;
	}
}
.comment-author{
    background-color: #f3f3f3;
    border-bottom: 1px solid #ccc;
}
main article.post img{
	margin: 0;
}
li.media {
	margin-top: 20px;
	img.avatar{
		border-radius: 50px;
		margin-right: 20px;
	}
}

@include media-breakpoint-up(xs) {

}
@include media-breakpoint-up(sm) {

}
@include media-breakpoint-up(md) {

}
@include media-breakpoint-up(lg) {

}
@include media-breakpoint-up(xl) {

}