/**
 * partials/main
 * ---
 * Main
 */
  
// For fixed-top navbar
body{
	color: #555555;
	font-size: 1.1rem;
	line-height: 1.8;
}
pre{
	line-height: 1;
}
p{
	word-break: break-word;
	margin-bottom: 1.5rem;
}
h1, h2, h3, h4{
	margin: 30px 0 20px;
}
a:hover{
	text-decoration: none;
}
header.main-header{
	height: 56px;
}
main{
	margin-top: 20px;
	article.post{
		.aligncenter{
			text-align: center;
		}
		img{
			margin:20px 0;
			max-width: 100%;
			height: auto;
		}
		figcaption{
			font-size: 1rem;
		    text-align: center;
		}
		.wp-block-embed{
			position: relative;
			padding-bottom: 56.25%;
			overflow: hidden;
		}
		.wp-block-embed iframe{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		blockquote{
			border-left: 5px solid #369;
			padding: 20px;
			color: #369;
		}
	}
}

/* Comments */

.media-list{
	list-style-type: none;
    padding-left: 0;
}
ul.children{
	list-style-type: none;
}
.comment-body{
    border: 1px solid #ccc;
	margin: 15px;
	.comment-content-wrap{
		padding: 15px;
	}
}
.comment-author{
    background-color: #f3f3f3;
    border-bottom: 1px solid #ccc;
}
main article.post img{
	margin: 0;
}
li.media {
	margin-top: 20px;
	img.avatar{
		border-radius: 50px;
		margin-right: 20px;
	}
}

@include media-breakpoint-up(xs) {

}
@include media-breakpoint-up(sm) {

}
@include media-breakpoint-up(md) {

}
@include media-breakpoint-up(lg) {

}
@include media-breakpoint-up(xl) {

}