/**
 * partials/main
 * ---
 * Main
 */
  
// For fixed-top navbar
body{
	color: #555555;
}
a:hover{
	text-decoration: none;
}
header.main-header{
	height: 56px;
}
main{
	margin-top: 20px;
}
@include media-breakpoint-up(xs) {

}
@include media-breakpoint-up(sm) {

}
@include media-breakpoint-up(md) {

}
@include media-breakpoint-up(lg) {

}
@include media-breakpoint-up(xl) {

}