/**
 * partials/nav
 * ---
 * Menus
 */

#main_navbar{
	background-color: #fff;
	min-height: 63px;
	padding: 0px;
	.logo_wrap{
		h1{
			margin: 10px 0;
			font-size: 32px;	
		}
	}
}
nav.fixed-top{
	z-index: 20;
}
.breadcrumb{
	font-size: 1rem;
	margin-left: 0;
}
/* Search form */
.searchbardiv{
	display: block;
	top: 50px;
	right: 0px;
	z-index: 1001;
	width: 100%;
	max-width: 100%;
	padding: 10px;
	margin: 0px;
	.container{
		padding: 0;
	}
	.row{
		width: 100%;
		.col-12{
			padding:0;
		}
	}
	&.pos_fixed{
		position: fixed;
		.container{
			padding: 0 15px;
		}
		.col-12{
			padding: 0 10px;
		}
	}
}
.buttonsearch{
	background-color: transparent;
	border: 0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.buttonsearch:hover{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 0px;
}
.buttonsearch:focus{
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 0px;
}
.btn-outline-secondary {
    color: #888;
	border-color: #ccc;
}
.openclosesearch {
	font-size: 18px;
}
#searchbox {
	
	box-shadow: none;
	padding: 8px 14px;
}
#searchbox:hover {
	box-shadow: none;
}

.form-control:focus {
	border-color: #ccc;
}

.navbar-toggle {
	margin-right: 35px;
	border: none;
	background: transparent !important;
}
.navbar-toggle:hover {
	background: transparent !important;
}
.navbar-toggle .icon-bar {
	width: 22px;
	transition: all 0.2s;
}
.navbar-toggle .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
	opacity: 0;
}
.navbar-toggle .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
	transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
	opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
	transform: rotate(0);
}

header.main-header{
	/* height: 56px; */
	nav{
		.navbar-brand{
			.logo_wrap{
				max-width: 215px;
				max-height: 100px;
				top: -10px;
				position: relative;
				img{
					width: 100%;
					height: auto;
				}
			}
		}
		&.navbar-light{
			padding: 15px;
			.navbar-collapse{
				z-index: 10;
				li{
					.nav-link{
						color: #666;
						font-weight:normal;
						padding: 3px 0 10px 30px;
						font-size: 16px;
						&:hover{
							color: #116bb0;
						}
					}
					&.active{
						.nav-link{
							font-weight:bold;
						}
					}
				}
			}
		}
	}
}
@include media-breakpoint-up(md) {
	header.main-header{
		nav{
			.navbar-brand{
				.logo_wrap{
					max-width: 300px;
					top: -15px;
					position: relative;
				}
			}
		}
	}
}


@include media-breakpoint-up(xs) {
	.dropdown-toggle:after{
		display: none;
	}
	.dropdown > .dropdown-menu {
		display: block;
		margin-left: 30px;
		border: 0px;
		border-left: 1px solid #ccc;
		border-radius: 0px;
	}
	.dropdown-item{
		font-weight: normal;
		white-space: normal;
		word-break: break-all;
		&:hover, &:focus{
			color: #fff;
			background-color: #1e73be;
		}
	}
	// 第一層
	header.main-header nav.navbar-light .navbar-collapse li .nav-link{
		font-weight: bold;
		color: #1e73be;
	}
	// 第二層
	ul#menu-main-menu > li.menu-item > ul.dropdown-menu > li.menu-item a.dropdown-item{
		font-weight: bold;
	}
	// 第三層
	ul#menu-main-menu > li.menu-item > ul.dropdown-menu > li.menu-item > ul.dropdown-menu > li.menu-item a.dropdown-item{
		font-weight: normal;
	}
	/*
	.dropdown > .dropdown-menu > .menu-item > .dropdown-item{
		font-weight: bold;
	}
	.dropdown > .dropdown-menu > .menu-item > .dropdown-item > .dropdown-menu > .menu-item > .dropdown-item {
		font-weight: normal;
	}
	*/
}
@include media-breakpoint-up(sm) {

}
@include media-breakpoint-up(md) {

}
@include media-breakpoint-up(lg) {

	.dropdown{
		.dropdown-toggle:after{
			display: inline-block;
		}
		.dropdown-menu{
			top: 39px;
		}
		> .dropdown-menu{
			display: none;
			margin-left: -5px;
			border: 1px solid #ccc;
			border-radius: 3px;
		}
		&:hover{
			>.dropdown-menu {
				display: block;
				.dropdown-menu{
					top: 0;
					left: 100%;
				}
			}
		}
	}
	.dropdown-item{
		white-space: nowrap;
	}
	// 第一層
	header.main-header nav.navbar-light .navbar-collapse li .nav-link{
		font-weight: normal;
		color: #666;
	}
	// 第二層
	ul#menu-main-menu > li.menu-item > ul.dropdown-menu > li.menu-item a.dropdown-item{
		font-weight: normal;
	}
}
@include media-breakpoint-up(xl) {

	.dropdown{
		.dropdown-toggle:after{
			display: inline-block;
		}
		.dropdown-menu{
			top: 39px;
		}
		> .dropdown-menu{
			display: none;
			margin-left: -5px;
			border: 1px solid #ccc;
			border-radius: 3px;
		}
		&:hover{
			>.dropdown-menu {
				display: block;
				.dropdown-menu{
					top: 0;
					left: 100%;
				}
			}
		}
	}
	.dropdown-item{
		white-space: nowrap;
	}
	// 第一層
	header.main-header nav.navbar-light .navbar-collapse li .nav-link{
		font-weight: normal;
		color: #666;
	}
	// 第二層
	ul#menu-main-menu > li.menu-item > ul.dropdown-menu > li.menu-item a.dropdown-item{
		font-weight: normal;
	}
}